@import '../Colors';

blockquote {
  border: 1px dashed #999999;
  padding: 10px 15px;
  background-color: #141414;
}

.wrapper {
  width: 50vw;
}

@media (max-width: 991px) {
  .wrapper {
    width: 100vw;
  }
}