@import '../Colors';

.topBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoBlock {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.scoreBlock {
  margin-right: 30px;
}

.logoImage {
  display: block;
  margin: 0 10px;
  height: 60px;
  width: 60px;
}

.logoTextHighlight {
  color: @redBright;
}

.currentLevel {
  border-bottom: 4px solid @greenLight !important;
}