@import '../Colors';

.topBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoBlock {
  display: flex;
  align-items: center;
}

.logoImage {
  display: block;
  margin: 0 10px;
  height: 80px;
  width: 80px;
}

.logoTextHighlight {
  color: @redBright;
}

.currentLevel {
  border-bottom: 4px solid @greenLight !important;
}