@import '../Colors';

.wrapper {
  max-width: 70vw;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imageBlock {
  flex-basis: 25%;
}

.contentBlock {
  flex-basis: 75%;
}

.itemImage {
  width: 140px;
  height: auto;
}